body {
    font-family: 'Lato', sans-serif;
    color:#41525e;
    font-size: 16px;
    line-height: 1.5;
}
h1 {
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 32px;
    margin-top:15px;
    line-height: 1.3;
    
}

h2 {
    font-size: 24px;
    line-height: 1.3;
    font-weight: 700;
    margin-bottom: 24px;
    
}
h1, h2, h3 {
    color:#172735;
    text-align: center;
}

h3{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}

header, section, footer {
    padding-top: 40px;
    padding-bottom:16px;
    padding-left: 16px;
    padding-right:16px;
}

.testimonial {
    background:rgba(231, 233, 234, 0.3)
}

p{
    margin-bottom: 1.5em;
}

.wrap{
    max-width: 1140px;
    margin-left: auto;
    margin-right:auto;
}

img{
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 20%);
}

/* Header*
ha mappában van a fájlon belül az asset akkor "mappanév/fájlnévként" illesztjük be az url(be)*/

header{
    background-color: blue;
    background-image: url("top_bg.png");
    background-repeat: no-repeat;
    background-position: right bottom; /*így fogja úgy resize-olni, hogy ha kisebb a képernyő, hogy balfelső sarokból fogja shrinkkelni.*/
    background-size: cover; /*streches the image to the widht*/
    padding-bottom: 325px;
    color: white;
}

header h1{
    color: white;
    font-size: 52px;
    text-align: left;
    margin-top:181px;
    margin-bottom:25px;
}
header p{
    font-size: 28px;
    max-width: 550px;
    margin-bottom: 50px;
}

header .header-contact{
    padding:12px 15px;
    border:1px solid #4bcc8c;
    color:#4bcc8c;
    text-decoration: none;
}
.header-contact:hover{
    color: white;
    border: 1px solid white;
}

/* navigation*/
.navigation {
    display: flex;
    justify-content: flex-end;
}
.navigation a{
    padding:11px 22px;
    margin-left:4px;
    text-decoration: none;
    color:white;
}
.navigation .logo{
    margin-left:0;
    margin-right:auto;
    text-decoration:none;
    width: 145px;
    height: 28px;
}

svg {
    width:100%;
}
.navigation-contact{
    background-color: #4bcc8c;
}
.navigation-contact:hover{
    background-color: rgb(137, 27, 216);
}

.navigation a:hover{
    text-decoration: underline;
}
.navigation .hamburger{
    display:none;
}

@media (max-width: 900px) {
    .navigation .hamburger {
        display:block;}
    .nav-item{
        display:none;
    }
}


/*intro*/
.two-columns{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:54px;
}

.intro h1{
    text-align: left;
}



/*offline*/
.offline h1{
    text-align: left;
}


/* faq*/
.faq h2{
    text-align: left;
}

.faq ul{
    margin-left:20px;
}

.faq .two-columns{
    gap:37px;
}


/*testimonial*/
.two-cards {
    display:grid;
    grid-template-columns: 1fr 1fr;
    background-color: lightgoldenrodyellow;
    grid-gap: 60px;
}

/*summary*/

.grid{
    display: grid;
    grid-template-columns: 372px 372px 372px;
    grid-template-rows: 282px 282px;
    grid-gap: 15px;
}
.grid p, h3{
    margin:24px;
    text-align: center;
}

.grid div{
    background: lightyellow;
}
.summary img{
    margin-bottom:20px;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
}

